<div class="container mb
  <%= "hidden" if question.hidden? %>
  <%= "user_question" if current_user == question.user && !current_user.nil? %>">

  <p class="mb-sm"> 
    <%= link_to "Question #{question.id}", question_path(question), class: "link", tabindex: "1" %>:
    <%= question.body.truncate(80, separator: ' ') %>
  </p>
</div>