<div class="container mb
  <%= "hidden" if question.hidden? %>
  <%= "user_question" if current_user == question.user && !current_user.nil? %>">

  <p class="mb-sm flexbox-between"> 
    <div class="question_link">
      <%= link_to "Question #{question.id}", question_path(question), class: "link", tabindex: "1" %>:
    </div>
    
    <div class="question_text">
      <p>
          <%= question.topic&.truncate(80, separator: " ") || 
          "Question without topic (old version): #{question.body.truncate(60, separator: " ")}" %>
      </p>
    </div>
  </p>
</div>
