<h2 class="title-lg mb-lg">New question</h2>
<<<<<<< HEAD
<p class="mb center">Question for <%= link_to display_nickname(@user), user_path(@user), class: "nickname link" %></p>
=======
>>>>>>> 4ac2bd659353386c0a3544f6164712a829b188b2

<%= render "form", question: @question %>