<h2 class="title-lg mb-lg">New question</h2>
<p class="mb center">Question for <%= link_to display_nickname(@user), user_path(@user), class: "nickname link" %></p>

<%= render "form", question: @question %>