<h2 class="title-lg mb-lg">Question <%= @question.id %></h2>

<%= render "question", question: @question %>
<<<<<<< HEAD
=======
<%= link_to "Edit question", edit_question_path(@question), class: "button mr" %>
<%= link_to "All questions", questions_path, class: "button mr" %>
>>>>>>> 4ac2bd659353386c0a3544f6164712a829b188b2
