<h2 class="title-lg mb-lg">Question <%= @question.id %></h2>

<%= render "question", question: @question %>
<%= link_to "Edit question", edit_question_path(@question), class: "button mr" %>
<%= link_to "All questions", questions_path, class: "button mr" %>