body {
  display: flex;
  background: #25274D;
  justify-content: center;
}

.wrapper {
  display: block;
  padding: 30px;
  width: 90%;
  margin: 40px;
  background: #29648A;
}

.title-lg {
  margin-right: -30px;
  margin-left: -30px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #25274D;
  border-top: 2px solid #2E9CCA;
  border-bottom: 2px solid #2E9CCA;
  border-radius: 5px;
}

.container {
  padding: 10px;
  padding: auto;
  border: 2px solid #25274D;
  border-radius: 10px; 
  background: #c2c3d1;
}

.container.id {
  width: 30%;
}

.a_question {
  height: 20px;
}

.hidden {
  opacity: 0.5;
}

.link {
  color: darkred;
}

.link:hover {
  color: red;
  text-decoration: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.label {
  padding: 4px 4px;
  background: #97d2fc;
  border: 2px solid #25274D;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.navbar {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.field_with_errors {
  display: flex;
  justify-content: center;
}

.field_with_errors input {
  background: #fc7c7c;
}

.select-field select {
  background: lightblue;
  font-size: 16px;
  padding: 5px 10px;
}

.select-field select option {
  font-size: 16px;
}

.flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
