body {
  font-family: "Trebuchet MS", sans-serif;

}

.title-lg {
  text-align: center;
  font-size: 225%;
  font-weight: 700;
  color: #3bbfc3;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.right-text {
  text-align: right;
}